* text=auto !eol
/AUTHORS -text
/COPYING -text
/ChangeLog -text
/INSTALL -text
/Makefile.am -text
/Makefile.in -text
/NEWS -text
/README -text
/aclocal.m4 -text
/autogen.sh -text
/config.h.in -text
config/config.guess -text
config/config.sub -text
config/depcomp -text
config/install-sh -text
config/ltmain.sh -text
config/missing -text
/configure -text
/configure.ac -text
doxydoc/Makefile.am -text
doxydoc/Makefile.in -text
doxydoc/doxygen-footer.html -text
doxydoc/doxygen.conf -text
m4/ax_prefix_config_h.m4 -text
m4/shave.m4 -text
/metslib.pc.in -text
metslib/Makefile.am -text
metslib/Makefile.in -text
metslib/abstract-search.hh -text
metslib/local-search.hh -text
metslib/mets.hh -text
metslib/metslib_ah.hh -text
metslib/metslib_config.hh -text
metslib/model.hh -text
metslib/observer.hh -text
metslib/simulated-annealing.hh -text
metslib/tabu-search.hh -text
metslib/termination-criteria.hh -text
/shave-libtool.in -text
/shave.in -text
test/Makefile.am -text
test/Makefile.in -text
test/permutation_problem_test.cc -text
test/tabu_list_test.cc -text
test/termination_test.cc -text
