* text=auto !eol
/AUTHORS -text
/COPYING -text
/ChangeLog -text
/INSTALL -text
/Makefile.am -text
/Makefile.in -text
/NEWS -text
/README -text
/aclocal.m4 -text
/autogen.sh -text
config/config.guess -text
config/config.sub -text
config/depcomp -text
config/install-sh -text
config/ltmain.sh -text
config/missing -text
/configure -text
/configure.ac -text
/metslib.pc.in -text
metslib/Makefile.am -text
metslib/Makefile.in -text
metslib/config.h.in -text
metslib/local-search.cc -text
metslib/mets.cc -text
metslib/mets.h -text
metslib/observer.h -text
metslib/simulated-annealing.cc -text
metslib/tabu-search.cc -text
/mkinstalldirs -text
test/Makefile.am -text
test/Makefile.in -text
test/tabu_list_test.cc -text
