* text=auto !eol
/AUTHORS -text
/COPYING -text
/ChangeLog -text
/INSTALL -text
/Makefile.am -text
/NEWS -text
/README -text
/autogen.sh -text
/configure.ac -text
doxydoc/doxygen-footer.html -text
doxydoc/doxygen.conf -text
/metslib.pc.in -text
/metslib.sln -text
/metslib.vcproj -text
metslib/Makefile.am -text
metslib/local-search.cc -text
metslib/mets.cc -text
metslib/mets.h -text
metslib/observer.h -text
metslib/simulated-annealing.cc -text
metslib/tabu-search.cc -text
test/Makefile.am -text
test/tabu_list_test.cc -text
